.success,
.success:focus {
    outline: none;
    border: 2px solid rgb(2, 255, 2);
}

.failed,
.failed:focus {
    outline: none;
    border: 2px solid red;
}

.mininav {
    text-align: right;
    background-color: rgb(202, 176, 176);
}

body {
    background-color: rgb(161, 174, 219);
}

.navbar-light {
    background-color: rgb(81, 122, 184);
}

a {
    color: rgb(33, 35, 36);
}

#user_name {
    color: rgb(50, 55, 59);
}

#listsInfo {
    color: rgb(42, 86, 139);
    font-weight: bold;
}

#task_name {
    height: 50px;
    width: 310px;
    font-size: 30px;
}

tr,
td {
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(165, 178, 198);
}

.serial-number {
    width: 5%;
}

.actions-div {
    width: 11%;
}

.status {
    width: 5%;
}

.srNo {
    width: 10%;
}

th {
    padding: 10px;
    border: 0.5px solid black;
    background-color: rgb(124, 135, 145);
    width: 200vh;
}

.thdescription {
    width: 750px;
    padding: 10px;
}

.description:focus {
    background-color: rgb(165, 178, 198);
    outline: 1px solid rgb(165, 178, 198);
    border: 1px solid rgb(165, 178, 198);
}

.srNo {
    width: 70px;
    padding: 4px;
}

input[type="checkbox"] {
    height: 30px;
    width: 70px;
    accent-color: rgb(81, 184, 131);
}

span {
    width: 70px;
    font-size: 30px;
    padding: 4px;
    color: rgb(255, 0, 0);
}

#task_name {
    color: rgb(0, 0, 0);
    background-color: rgb(136, 151, 174);
}

#task_name:focus {
    outline: 1px solid rgb(16, 19, 18);
}

#btnAdd {
    background-color: rgb(81, 122, 184);
}